@import "../../styles/main";


.contract {
  color: $text-main;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 2fr 12fr 1fr;
  gap: 36px;
  background: $dark-grey;
  border-radius: 30px;
  padding: 16px;
  min-height: 157px;
}
.name {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
.info {
  display: flex;
  flex-direction: column;
}
.statistics {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.stat {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-gap: 20px;
  .label {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $grey;
  }
  .value {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
  }
}
.avatar {
  width: 100%;
}
.imagePlaceholder {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0.6;
}
.imagePlaceholderText {
  top: 20px;
  right: 0;
  position: absolute;
  width: 60%;
  text-align: left;
  font-size: 11px;
  background: $black;
  padding: 3px;
  box-sizing: border-box;
}
