@import "src/styles/colors";
.tokenCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 344px;
  padding: 12px 10px;
  background: $dark-grey;
  border-radius: 20px;
  max-width: 450px;
}
.imageContainer {
  position: relative;
  width: 100%;
  border: 1px solid #b8b8b8;
  border-radius: 16px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  display: flex;
  .amount {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: $purple;
    border: 1px solid #ffffff;
    border-radius: 100%;
    color: $text-main;
  }
  .image {
    object-fit: cover;
    height: 100%;
  }
}
.name {
  font-weight: 700;
  margin-top: 32px;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.04em;
}
