@import "../../main";

.subheader {
  width: 100%;
  display: flex;
  flex-direction: column;
  .title {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    flex-direction: row;
    img {
      width: 24px;
    }
    h1 {
    }
  }
  .filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
    margin-top: 32px;

    .priceInput {
      max-width: 94px;
      @extend .textInput;
    }
    .priceSection {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 24px;
      span {
        color: $text-main;
      }
    }
  }
}
.coinSelect {
  min-width: 116px;
  @extend .buttonSecondaryGreen;
  @extend .selectInput;

}
.priceSortSelect {
  @extend .buttonSecondaryYellow;
  @extend .selectInput;

}
.collectionGrid {
  @extend .items-grid;
}
