@import "../../main";

.subheader {
  width: 100%;
  display: flex;
  flex-direction: column;
  .title {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    flex-direction: row;
    img {
      width: 24px;
    }
    h1 {
    }
  }
  .filters {
    display: flex;
    flex-direction: row;
    gap: 28px;
    margin-top: 32px;
  }
}
.collectionGrid {
  @extend .items-grid;
}
.unknownTypeMessage {
  background: rgba(44, 45, 49, 0.9);
  position: absolute;
  z-index: 10;
  top: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;

}
.unknownTypeMessageText {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  color: $red;
  padding-top: 300px;
}
