@import "src/styles/main";

.ordersList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
.order {
  display: flex;
  flex-direction: column;
  background: $dark-grey;
  padding: 15px;
  border-radius: 34px;
}
.buttons {
  display: flex;
  flex-direction: row;
  grid-gap: 24px;
}
