@import "src/styles/main";


.img {
  max-width: 330px;
  max-height: 330px;
}
.card {
  display: flex;
  flex-direction: row;
  grid-gap: 96px;
}
.info {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}
.buttons {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-top: 40px;
}
.price {
  color: $text-main;
  .number {
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
  }
}
.message {
  font-size: 16px;
  line-height: 20px;
}
.actions {
  display: flex;
  flex-direction: column;
}
.transactionForm {
  margin-bottom: 20px;
}
