@import "src/styles/main";

.logo {
  width: 320px;
  margin-bottom: 30px;
}

.connectWallet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.modal {
  padding: 15px;
  background: $dark-grey;
  color: $text-main;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  border-radius: 32px;
  gap: 24px;

  button {
    display: flex;
    gap: 12px;
  }
}
.close {
  @extend .buttonSecondaryYellow;
  align-self: center;
}
.err {
  color: $red;
}
