@import "colors";
@import "typogrphy";

.buttonPrimary {
  padding: 10px 28px;
  cursor: pointer;
  border: 1px solid $yellow;
  border-radius: 32px;
  font-family: "Red Rose", cursive;
  font-weight: 700;
  background: transparent;
  font-size: 15px;
  color: $black;
  width: max-content;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;
}
.buttonPrimaryColored {
  @extend .buttonPrimary;
  background: $yellow;
}

.buttonSecondary {
  padding: 15px 28px;
  cursor: pointer;
  width: max-content;
  border: 2px solid $text-main;
  border-radius: 32px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  background: transparent;
  font-size: 15px;
  line-height: 100%;
  color: $text-main;
  transition: all 0.2s ease;
  &:hover {
    @extend .buttonSecondaryActive;
  }
}
.buttonSecondaryYellow {
  @extend .buttonSecondary;
  color: $yellow !important;
  border-color: $yellow !important;
}

.buttonSecondaryGreen {
  @extend .buttonSecondary;
  color: $green !important;
  border-color: $green !important;
}

.buttonSecondaryActive {
  background: rgba(255, 255, 255, 0.12);
}
