$black-light: #242424;
$black: #1e1e1e;
$green: #8bc34a;
$yellow: #ffde11;
$dark-grey: #2c2d31;
$grey: #585856;
$purple: #7f1cfc;
$red: #ff1100;
$blue: #2b99ff;
$lightseagreen: #31fed9;
$text-main: #f4f4f4;
