@import "colors";
@import "helpers";

.textInput {
  background: $dark-grey;
  padding: 15px;
  border: 2px solid $dark-grey;
  color: $text-main;
  border-radius: 14px;
  box-sizing: border-box;
  outline: none;

  &:focus {
    border-color: #B09DFF;
  }
}
.searchInput {
  position: relative;
  width: 100%;
  max-width: 540px;
  input {
    outline: none;
    width: 100%;

    @extend .textInput;
  }
  &:after {
    content: "";
    width: 24px;
    z-index: 2;
    height: 24px;
    position: absolute;
    background: url("../assets/images/search.svg") no-repeat;
    right: 19px;
    top: 0;
    transform: translateY(50%);
  }
}
.selectInput {
  @extend .textInput
}
.radioBtn {
  color: $text-main;
  display: flex;
  flex-direction: row;
  grid-gap: 10px;
  .radioCircle {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 2px solid $purple;
  }
  .checker {
    background: $purple;
    border-radius: 100%;
    width: 15px;
    height: 15px;
  }
  .radioBtnInput {
    display: none;
  }
}

.label {
  cursor: pointer;
}
