@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&family=Red+Rose:wght@300;400;500;600;700&display=swap");
@import "colors";
* {
  font-family: "Red Rose", cursive;
  font-weight: 400;
  letter-spacing: 0.02em;
}
h1,
h2,
h3,
h4 {
  color: $text-main !important;
}
h1 {
  font-size: 24px;
  line-height: 30px;
}
