@import "../../main";


p {
  color: $text-main;
}
.contract {
  display: flex;
  flex-direction: row;
  grid-gap: 32px;
}
.avatar {
  width: 100%;
}
.imagePlaceholder {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  padding: 10px;
  background: $dark-grey;
  border-radius: 34px;
  width: 160px;
  height: 220px;
  position: relative;
  opacity: 1;
}
.imagePlaceholderText {
  width: 100%;
  text-align: center;
  font-size: 18px;
  background: $black;
  color: $text-main;
  padding: 4px;
  box-sizing: border-box;
}
.disabledLink {
  @extend .buttonPrimaryColored;
  opacity: 0.3;
  pointer-events: none;
}

.pendingMessage {
  color: $red;
}
