@import "../../main";

.fullPage {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 360px;
}

.subheader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  min-height: 46px;

  .title {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    flex-direction: row;

    img {
      width: 24px;
    }

    h1 {
      margin: 0;
    }
  }
}
.contractsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-gap: 24px;
}
.emptyState {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
