@import "../../main";

.createContract {
  position: relative;
   display: flex;
  flex-direction: column;
  margin-bottom: 120px;
}
.subheader {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;

  .title {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    flex-direction: row;
    img {
      width: 24px;
    }
  }
}
.form {
  display: flex;
  flex-direction: column;
}
.textInputs {
  margin-top: 24px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  margin-bottom: 60px;
}
.formInput {
  display: flex;
  flex-direction: column;
}
.standardBtns {
  display: flex;
  flex-direction: row;
  grid-gap: 26px;
}
.formInputLabel {
  color: $text-main;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding: 8px;

  strong {
    font-size: 24px;
    color: $red;
    line-height: 14px;
  }
}
.messageContainer {
  position: fixed;
  background: $black;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
