@import "../../styles/colors";
@import "../../styles/helpers";
@import "../../styles/variables";
@import "../../styles/typogrphy";

.header {
  width: 100%;
  height: $header-height;
  background: $black-light;
  box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.22);
}
.headerContainer {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 35px;
  box-sizing: border-box;
  @extend .wrapper-container;
}
.logo {
  height: 100%;
  object-fit: cover;
}
.account {
  display: flex;
  flex-direction: row;
  grid-gap: 22px;
  position: relative;
  .info {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    position: absolute;
    text-align: right;
    color: $text-main;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    transform: translateX(-110%);
  }
  .user {
    width: 48px;
    height: 48px;
  }
  .address {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }
}
.nav {
  display: flex;
  grid-gap: 52px;
  a {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: $text-main;
    transition: all 0.2s ease;
    &:hover {
      @extend .active
    }
    &[aria-current="page"] {
      @extend .active
    }
  }
  .active {
    font-weight: 700;
    color: $yellow;
  }
}
