@import "src/styles/main";

.footer {
  background-color: #212326;
  width: 100%;
  padding: 20px 70px;
  min-height: 240px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}
.logo {
  width: 152px;
  margin: 0 auto;
}

.linkSection {
}

.title {
  margin: 0 0 16px;
  font-size: 18px;
  color: darken($text-main, 40%);
}

.links {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  row-gap: 24px;
  white-space: nowrap;

  a {
    font-size: 16px;
    color: $text-main;

    @include on-event() {
      text-decoration: underline;
    }
  }
}
.center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.social {
  display: flex;
  justify-content: flex-end;
  gap: 32px;
}
.socialIcon {
  height: 24px;
}
