@import "styles/_main.scss";

.main {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  box-sizing: border-box;
  position: relative;
  flex: 1;

  @extend .wrapper-container;
}

.back {
  background-color: $black;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
}
